//mobile breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
//colors
$indigo: #2e66e5;
$indigo7: rgba(46,102,229, 0.07);
$black: #13182c;
$black70: rgba(19,24,44, 0.7);
$green: #158463;
$red: #C94515;
$slate: #5c667e;
$cloud: #bdc5d5;
$graphite: #232940;
$lightgrey: #F7F8F9;