//linking dependencies
@use '../styles/variable' as *;
@use '../styles/mixin' as *;
//List header
.lists-headers {
    background-color: $lightgrey;
    display: none;

    @include tablet {
        display: flex;
        justify-content: space-between;
    }
}
//container
.containers {
    padding: 0 1.5rem;
    width: 100%;

    @include tablet {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__sub {
        display: flex;

        @include tablet {
            width: 39.0625vw;
        }

        @include desktop {
            width: 476px;
        }
    }
    &__action {
        padding-left: 1rem;
        text-transform: uppercase;
    }
}
//titles
.titles {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 0.6875rem;
    text-transform: uppercase;

    &--last {
        display: none;

        &--inventory {
            display: flex;
        }
    }

    &__label {
        padding-left: 24px;
    }
}